<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://ul.edu.co/uleduco/images/logo_cul_2015.png" alt="" width="200">
    <h1 class="h3 mb-3 font-weight-normal">Bienvenido</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail"></label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword"></label>
  </div>

   
  <button class="btn btn-lg btn-primary btn-block" type="submit">INGRESAR</button>
</form>